footer {
    background-color: var(--dark);
}

.footer-media-logo {
    @include social-media-logo;
    width: 20px;
    height: 20px;
    margin-top: 52px;
    margin-bottom: 51px;
    
}

.footer {
    @include social-media-section;

    @media (max-width: 700px) {
        flex-direction: column;
    }
}



.footer-text {
    
    position: relative;

    p {
        font-size: 18px;
        color: var(--gray);
        margin:0;

        @media (max-width: 700px) {
            margin-bottom: 20px;
        }
    }
}