form {
    display: flex;
    justify-content: flex-start;

}

.form-container {
    background-color: #fff;
    border-radius: 30px;
    padding-left: 50px;
  
    h4 {
      font-size: 16px;
      color: var(--dark);
      font-weight: bold;
    }
  
    .custom-radio {
      label {
        display: inline-flex;
        justify-content: flex-start;
        cursor: pointer;
  
        .radio {
          position: relative;
          width: 13px;
          height: 13px;
          margin-right: 5px;
          border-radius: 50%;
          border: 1.5px solid var(--green);
          opacity: 0.5;
          transition: 0.3s ease-in-out;
  
          &:after {
            content: "";
            width: 5px;
            height: 5px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background-color: var(--green);
            border-radius: 50%;
            transform-origin: center center;
            transform: scale(0);
            transition: 0.3s ease-in-out;
          }
        }
  
        span {
          color: var(--dark);
          margin-right: 10px;
        }
      }
  
      input {
        display: none;
  
        &:checked + label {
          .radio {
            opacity: 1;
  
            &:after {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

.form {
    position: relative;
    background-color: var(--white);
    border-radius: 10px;
    margin-top: 15px;
    width: 360px;
    height: 400px;

    border-radius: 5px;

    @media (max-width: 700px) {
      width: 95%;
      height: 400px;
    }
}


.form_name {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    background-color: #F5F5F5;
    color: var(--dark);
    font-weight: 500;

    span {
        color:var(--orange);
        text-transform: uppercase;
    }
}

.form h3 {
    color: var(--dark);
    font-size: 16px;
    padding-left: 50px;
}

.formlist {
    list-style-type: none;
    text-align: center;
    padding-left:0;    
}

.formlist li input {
    font-size: 12px;
    color: #D8D8D8;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px;
    width: 260px;
    padding-top: 22px;

    @media (max-width: 700px) {
      width: 80%;
    }
}

::placeholder {
    color: #D8D8D8;
    font-family: 'Montserrat', sans-serif;
}

.getstarted {
    background-color: var(--green);
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    border-radius: 0px 0px 5px 5px;
    
    p {
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        font-weight: bold;
        color: var(--white);
        text-align: center;
    }
}


.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: red;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-top: 2px;
  margin-left: 10px;
  font-size: 10px;
}