.screen {
  position: relative;
}

.hero {
    display: flex;
    align-items: center;
    position: relative;
    background: pink;
    height: calc(100vh - 170px);

    @media (max-width: 700px) {
      height: inherit;
    }
  
    &:after,
    &-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    &:after {
      content: "";
      background-color: var(--dark);
      opacity: 0.63;
    }
  
    &-image {
      object-fit: cover;
    }
  
    .hero-content {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // padding-top: 10px; 
      // padding-bottom: 140px;
      color: #fff;
      z-index: 1;

      @media (max-width: 700px) {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;

      }
  
      h1 {
        margin: 0;
      }
  
      img {
        // margin-top: ; - 
        margin-bottom: 23px;
        width: 247px;
        height: 108px;        
      }
    }
  }

  .hero-content-text h2 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;

    @media (max-width: 700px) {
      font-size: 20px;
      text-align: center;
    }
  }

  .hero-content-text {
    width: 426px;

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
      margin: auto;
      justify-content: center;
      align-items: center;
      width: 90%;
      text-align: center;
    }

    
  }

  .hero-content-paragraph {
    width: 651px;

    @media (max-width: 700px) {
      width: 90%;
    }

    p {
      margin-top: 24px;
      margin-bottom: 33px;
      
      @media (max-width: 700px) {
        font-size: 12px;
      }
    }
  }

.button {
    display: inline-block;
    padding: 10px;
    border: solid 2px white;
    // margin-left: 40px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: white;
      color: black;
      font-weight: 500;
    }
}

.hero-logo-responsive {
  @media (max-width: 700px) {
    display: flex;
    justify-content: center;
  }
}