.screen {
  position: relative;
}

.hero {
    display: flex;
    align-items: center;
    position: relative;
    background: pink;
    height: calc(100vh - 170px);
  
    &:after,
    &-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    &:after {
      content: "";
      background-color: var(--dark);
      opacity: 0.63;
    }
  
    &-image {
      object-fit: cover;
    }
  
    .hero-content {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // padding-top: 10px; 
      // padding-bottom: 140px;
      color: #fff;
      z-index: 1;
  
      h1 {
        margin: 0;
      }
  
      img {
        // margin-top: ; - 
        margin-bottom: 23px;
        width: 247px;
        height: 108px;
      }
    }
  }

  .hero-content-text h2 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }

  .hero-content-text {
    width: 426px;
  }

  .hero-content-paragraph {
    width: 651px;

    p {
      margin-top: 24px;
      margin-bottom: 33px; 
    }
  }
  
  

// // .Photo1 {
// //     margin: 0;
// //     width: 100%;
// //     height: 100vh;
// //     object-fit: cover;
// //     object-position: center center;
// // }


// .container {
//     position: absolute;
//     width: 100%;
//     height: 100vh;
//     margin: 0;
// }

// .container .Photo1 {
//     width: 100%;
//     height: 100%;;
//     object-fit: cover;
// }

// .container:before {
//     content: '';
//     position: absolute;
//     top: 50px; // cia nesamone, reikia sutvarkyti
//     left: 0;
//     width: 100%;
//     height: 100%;
//     opacity: 0.5;
//     background: #1C1C1C;

// }

// .section1text {
//     position: absolute;
//     top: 50px;
//     border: 2px red solid;
//     width: 50%;
//     height: 80vh;

//     div {
//         padding-top: 100px;
//     }
    
// }

// .logo2 {
//     position: absolute;
    
// }

// h2, p {
//     color: white;
// }

// // h2 {
// //     width: 50%;
// //     padding-left: 40px;
// // }

// // p {
// //     padding-left: 40px;
// //     padding-right: 40px;
// // }


.button {
    display: inline-block;
    padding: 10px;
    border: solid 2px white;
    // margin-left: 40px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: white;
      color: black;
      font-weight: 500;
    }
}