.section6 {
    position: relative;
    top: 650px; 
    background-color: #6696E2;
}


.section6_header {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section6_header h2 {
    margin-top: 30px;
    margin-bottom: 0;
}

.section6_header h4 {
    color: #41D395;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.section6_header p {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}



.section6_blocks {
    
    // display: flex;
    align-items:flex-end;
    // justify-content: space-evenly;

}

.section_6_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;    
}


.section6_upper_container {
    background-color: #1C1C1C;
    margin: 0;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: #41D395 solid 5px;
}
.child {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    border-radius: 5px;
    background-color: white;
}

.child h2 {
    color: white;
    font-weight:400;
    font-size: 40px;
    padding-top: 0;
    margin-top: 0;
}

.child p {
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    color: #999999;
    text-transform: uppercase; 
}


.child h3 {
    font-size: 60px;
    font-weight:400;
    padding: 0;
    color: #FFFFFF
}


.popular {
    background-color: #41D395;
}

.popular h2 {
    font-size: 30px;
    margin: 0;
}




