.social-media {
    @include social-media-section;

    @media (max-width: 700px) {
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-bottom: 20px;
    }
}



.social-media-text {
    width: 400px;
    position: relative;

    @media (max-width: 700px) {
        width: 100%;
        text-align: center;
    }

    h3 {
        color: var(--dark);
        font-size: 20px;
        margin: 0;
        margin-top: 20px;
    }

    p {
        font-size: var(--fontsize-p);
        color: var(--gray);
        margin: 0;
        margin-bottom: 20px;
    }
}

.social-media-logo-container {
    display: flex;
    position: relative;
    align-items: center;

    @media (max-width: 700px) {
        flex-wrap: wrap;
        justify-content: center;
      }
}

.media_logo {
    @include social-media-logo;

    @media (max-width: 700px) {
        margin-bottom: 20px;
    }
}

