.section2 {
    @include social-media-section;
}



.section2_text {
    width: 400px;
    position: relative;

    h3 {
        color: #333333;
        font-size: 20px;
        margin: 0;
        margin-top: 20px;
    }

    p {
        font-size: 14px;
        color: #86878B;
        margin: 0;
        margin-bottom: 20px;
    }
}

.media_logo {
    @include social-media-logo;
}

.social_media {
    display: flex;
    position: relative;
    align-items: center;
}