:root {
    --dark: #1c1c1c;
    --orange: #e27866;
    --blue: #6696E2;
    --white: #FFFFFF;
    --gray: #86878B;
    --green: #41D395;
    --fontsize-p: 14px;
    --fontsize-h2: 36px;
    font-family: 'Montserrat', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  @import "mixins.scss";
  @import "Header.scss";
  @import "Hero.scss";
  @import "Features.scss";
  @import "components/tab-section.scss";
  @import "components/Response.scss";
  @import "Form.scss";
  @import "Social_media.scss";
  @import "Footer.scss";
  @import "Facilities.scss";
  @import "About.scss";
  @import "Subscription.scss";
  @import "tab-section-content.scss";
  @import "Contact.scss";

