:root {
    --dark: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  @import "mixins.scss";
  @import "Header.scss";
  @import "Hero.scss";
  @import "Features.scss";
  // @import "components/form";
  @import "components/Response.scss";
  @import "components/tab-section";


// body {
//     margin: 0;
// }

// .page-wrap {
//     max-width: 1140px;
//     width: 100%;
//     margin: 0 auto;
//     padding: 0 20px;
//     box-sizing: border-box;
//     display: flex;
//     justify-content: space-between;
// } 

// @import "colors.scss";
// @import "Header.scss";

@import "Form.scss";
@import "Social_media.scss";
@import "Footer.scss";
@import "Section4.scss";
@import "About.scss";
@import "Subscription.scss";


// .container {
//     max-width: 1140px;
//     width: 100%;
//     margin: 0 auto;
//     padding: 0 20px;
//     box-sizing: border-box;
//       display: flex;
//     justify-content: space-between;
// } 
// // Konteineris eina ant virsaus visu sekcijos elementu, kurie turi buti ne iki psl. krasto. tai man sita reikia uzsideti pas save, taip pat kitam scss faile yra .container su display flex ir justify content space between. Ka tai reiskia?

//   .container {
//     
//   }

